@font-face {
    font-family: 'tt_normsregular';
    src: url('../font/tt-norm/ttnorms-regular-webfont.woff2') format('woff2'),
         url('../font/tt-norm/ttnorms-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(300deg, #0d1d28, #132b30, #2c4556);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
    position: relative;
    height: 100vh;
}

@keyframes gradient-animation { 
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
}
.home {
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 60px;
    text-decoration: none;
    color: #fff;
}
.book {
    text-align: center;
    border-radius: 5%;
    background-color: #153043;
    height: 95vh;
    width: 500px;
    margin: 20px 0 0 30vw;
    padding: 20px;
    color: #fff;
    font-family: 'tt_normsregular';
}
.book img {
    width: 200px;
    height: 250px;
}
.book h3 {
    margin: 20px 10px 10px;
}
.book p {
    padding: 15px 20px;
    font-size: 15px;
}

/* COLOR DESIGN */

.design {
    height: 35vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;    
}

.container2 {
    background-color: black;
    display: grid;
    grid-template-columns: 64px 40px 31px 10px;
    grid-template-rows: 83px 26px 31px 4px;
    gap: 2px;
    width: 150px;
    height: 151px;
}

.lift {
    background-color: red;
    grid-area: 1/1/2/2;
}

.loft {
    background-color: #f4f4f4;
}

.lite {
    background-color: blue;
    grid-area: 2/4/3/-1;
    height: 26px;
    margin-bottom: 2px;
}

.left {
    background-color: yellow;
    grid-area: 4/2/5/3;
}

.loot {
    background-color: #1c1c1c;
    grid-area: 4/3/5/4;
}

.first {
    grid-area: 1/2/2/-1;
}

.second {
    grid-area: 2/1/4/2;
}

.third {
    grid-area: 2/2/4/4;
    background-color: #CC5500;
}

.fourth {
    grid-area: 3/4/5/-1;
}

.fifth {
    grid-area: 4/1/5/2;
}

/* DOWNLOAD */

.download {
    display: flex;
}
.btn {
    display: block;
    border-radius: 6px;
    margin: 10px auto;
    border: 2px solid #ff004f;
    width: fit-content;
    padding: 5px 1.125rem;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.btn:hover {
    background: #ff004f;
}
