* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1d28;
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;    
    min-height: 100vh;    
    color: #fff;
}
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
}
.home {
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 60px;
    text-decoration: none;
    color: #fff;
}
.container .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}
.row section.col {
    display: flex;
    flex-direction: column;
}
.row section.left {
    flex-basis: 35%;
    min-width: 320px;
    margin-right: 60px;
}
.row section.right {
    flex-basis: 60%;
}
section.left .contacttitle h2 {
    position: relative;
    font-size: 28px;
    color: #ddd;
    display: inline-block;
    margin-bottom: 25px;
}
section.left .contacttitle h2::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    height: 1px;
    background-color: #888;
    width: 50%;
}
section.left .contacttitle h2::after {
    content: '';
    position: absolute;
    top: calc(120% - 1px);
    left: 0;
    height: 3px;
    background-color: dodgerblue;
    width: 25%;
}
section.left .contacttitle p {
    font-size: 17px;
    color: #ccc;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
}
.contactinfo .info {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}
.info .icon {
    width: 45px;
    height: 45px;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}
.info .icon i {
    font-size: 20px;
    color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info .details span {
    display: block;
    color: #888;
    font-size: 18px;
}
.info .details span:nth-child(1) {
    text-transform: uppercase;
    color: #ccc;
}
section.left .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0 20px;
}
.socials a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    background-color: dodgerblue;
    transition: 0.4s;
}
.socials a i {
    color: #ddd;
    font-size: 18px;
    line-height: 35px;
    border: 1px solid transparent;
    transition-delay: 0.2s;
}
.socials a:hover {
    transform: translateY(5px);
    background-color: #2e2e2e;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}
.socials a:hover i {
    color: dodgerblue;
}


/* RIGHT SIDE */


.row section.right .messageform {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.row section.right .data {
    margin: 18px 0 ;
    position: relative;
}
.messageform .half {
    flex-basis: 48%;
}
.messageform .full {
    flex-basis: 100%;
}
.messageform input, .messageform textarea {
    width: 100%;
    font-size: 18px;
    padding: 2px 0;
    background-color: #0d1d28;
    color: #ddd;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
}
.messageform textarea {
    resize: none;
    height: 220px;
    display: block;
}
textarea::-webkit-scrollbar {
    width: 5px;
}
textarea::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 15px;
}
.data label {
    position: absolute;
    left: 0;
    bottom: 4px;
    color: #888;
    font-size: 18px;
    transition: 0.4s;
    pointer-events: none;
}
.data:nth-child(4) label {
    top: 2px;
}
.data input:focus ~ label, .data textarea:focus ~ label, 
.data input:valid ~ label, .data textarea:valid ~ label {
    transform: translateY(-30px);
    font-size: 16px;
}
.data button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: dodgerblue;
    color: #ddd;
    border: 1px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}
.data button:hover {
    color: dodgerblue;
    background-color: #2e2e2e;
    border: 1px solid dodgerblue;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}


/* MEDIA QUERY */

@media(max-width: 1100px) {
    .messageform .half {
        flex-basis: 100%;
    }
}

@media(max-width: 900px) {
    .container .row {
        flex-wrap: wrap;
    }
    .row section.left, .row section.right {
        flex-basis: 100%;
        margin: 0;
    }
}